{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Genuine Reviews</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />
		<script src="{% static '/life/vendor/js/GlobalConstants.js' %}"></script>
		<script src="{% static '/life/vendor/js/util.js' %}"></script>
		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<style>
		/* Always set the map height explicitly to define the size of the div
		 * element that contains the map. */
		#map {
		  height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
		  height: 100%;
		  margin: 0;
		  padding: 0;
		  color: white;
		}
		h1,h2,h3 {
			color: white;
		}
		#leaderboard {
			width: 15%;
			max-width: 400px;
			height: 100%;
			background-color: #1f1919da;
			font-color: white;
			position: fixed;
			z-index: 2;
		}
		#leader-table-heading {
			font-size: 30px;
			/* margin-top: 20px */
			text-align: center;
		}
		#leader-table {
			position: relative;
			padding-left: 10px;
			padding-right: 10px;
			color: white;
			font-size: 25px;
			width: 100%;
		}
		.leader-table-row {
		  position: relative;
			font-size:20px;
		}
		.name-col{
		  position: relative;
		  width: 100%;
		  padding-left:10px;
		}
		.small-img {
			width: 100px;
			height: 100px;
		}
		.ErrorToast {
			position:fixed;
			text-align:center;
			width: 100vw;
			z-index: 1;
			color: black;
			font-size: 150px;
		}
		#user-table {
			background-color: black;
		}
		#selected-user {
			color: yellow;
		}
		.board-controller {
			border: 2px solid yellow;

		}
	  </style>
	<body>
		<!-- Your layout here -->
		<div class='NoUserError ErrorToast' style='display:none'>You Need to Select a User!</div>
		<div id="leaderboard">
			<div class='board-controller'>
				<h2>
					Selected User
				</h2>
				<h3 id='selected-user'>None</h3>
			</div>
			<div class='board-controller'>
				<h3>Remove Locations
				</h3>
				<button id='reset-locations' type='button'>reset-locations</button>
			</div>
			<div class='board-controller'>
				<h3>
					Create a user
				</h3>
				<!-- <form method='POST' action='/life/process/'> -->
				<input type='hidden' name='type' value='CREATE_USER'>
				<h3>Username:</h3> <input id='typed-username' type='text' name='name'>
				<br>
				<input id='user-submit' type='submit' value='Create User'>
			</div>
			<div class='board-controller'>
				<h3>
					Current Users (select)
				</h3>
				<table id='user-table'>
				</table>
			</div>
			<!-- <br> -->

			<!-- {{TreasureData}} -->
		</div>
		<div id="map"></div>
		<script>
			// import("../../static/draw/vendor/js/GlobalConstants.js");
			var map;
			var marker;
			var mapID = document.getElementById('map');
			var keyEv = new KeyboardEvent("ctrlKey");
			var activeUser;
			var userLines = {};	// takes in username and returns the user's path
			var userCoords = [];
			var userPath;

			function htmlDecode(input){
				var e = document.createElement('div');
				e.innerHTML = input;
				// handle case of empty input
				return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
			}
			function getLocation() {
				if (navigator.geolocation) {
					var current = navigator.geolocation.getCurrentPosition(success, showError);
					// console.log(current);
					return current;
				} else {
					alert("Geolocation is not supported by this browser.");
				}
			}

			var mouseTime = false;
			setInterval(function() {
				mouseTime = true;
			}, 300);


			function initMap() {
				map = new google.maps.Map(mapID, {
					center: {lat: 37.8716, lng: -122.2727},
					zoom: 18
				});


				$.ajax({
					url: '/life/process/',
					type: 'POST',
					data: {
						type: 'GET_LOCATIONS',
						name: activeUser
					},
					success: function(data) {
						var parsed = JSON.parse(data)
						for (var i = 0; i < parsed.length; i++) {
							var lat = parsed[i]['fields']['latitude']
							var lng = parsed[i]['fields']['longitude']
							userCoords.push({lat:lat, lng:lng});
						}
						console.log(userCoords);
						userPath = new google.maps.Polyline({
							path: userCoords,
							geodesic: true,
							strokeColor: '#FF0000',
							strokeOpacity: 1.0,
							strokeWeight: 2
						});
						userPath.setMap(map);

					},
					failure: function(data) {

					}
				});
				$.ajax({
					url: '/life/process/',
					type: 'POST',
					data: {
						type: 'GET_RESTAURANTS'
					},
					success: function(data) {
						var parsed = JSON.parse(data)
						console.log(data)
						for (var i = 0; i < parsed.length; i++) {
							var name = parsed[i]['fields']['name']
							var lat = parsed[i]['fields']['latitude']
							var lng = parsed[i]['fields']['longitude']

							var marker = new google.maps.Marker({
								position: {
									lat: lat,
									lng: lng,
								},
								map: map,
								title: name
							});
						}

					},
					failure: function(data) {

					}
				});
				map.addListener("mousemove", function (ev) {
					var latitude = ev.latLng.lat();
					var longitude = ev.latLng.lng();

					if (!activeUser) {
						noUserSelected();
					}
					if (!mouseTime) {
						return;
					}
					console.log ("Location added");
					mouseTime = false;
					$.ajax({
						url: '/life/process/',
						type: 'POST',
						data: {
							type: 'ADD_LOCATION',
							name: activeUser,
							latitude: latitude,
							longitude: longitude
						},
						success: function(data) {
						},
						failure: function(data) {

						}
					});
					var latlng = {lat:latitude, lng:longitude};
					userCoords.push(latlng);
					if (userPath != null) {
						// userPath.remove();
						// userPath.setMap(map);
						userPath.setPath(userCoords);
					}


				}); //end addListener
			}
			function updateLocations(){
				userCoords = [];
				$.ajax({
					url: '/life/process/',
					type: 'POST',
					data: {
						type: 'GET_LOCATIONS',
						name: activeUser
					},
					success: function(data) {
						var parsed = JSON.parse(data)
						for (var i = 0; i < parsed.length; i++) {
							var lat = parsed[i]['fields']['latitude']
							var lng = parsed[i]['fields']['longitude']
							userCoords.push({lat:lat, lng:lng});
						}
					},
					failure: function(data) {

					}
				});
			}
			// promptUser
			function noUserSelected(){
				if ($('.NoUserError').is(":hidden")){
					$('.NoUserError').fadeIn(400).delay(3000).fadeOut(400); //fade out after 3 seconds
				}
			}
			$('#reset-locations').click(function(){
				$.ajax({
					url: '/life/process/',
					type: 'POST',
					data: {
						type: 'DEL_LOCATIONS',
						name: activeUser
					},
					success: function(data) {
						updateLocations();
					},
					failure: function(data) {
					}
				});
			});
			function showError(error) {
				switch(error.code) {
					case error.PERMISSION_DENIED:
						console.log("User denied the request for Geolocation.");
						break;
					case error.POSITION_UNAVAILABLE:
						console.log("Location information is unavailable.");
						break;
					case error.TIMEOUT:
						console.log("The request to get user location timed out.");
						break;
					case error.UNKNOWN_ERROR:
						console.log("An unknown error occurred.");
						break;
				}
			}
			function success(pos) {
				var coord = pos.coords;
				console.log('Your current position is:');
				console.log(`Latitude : ${coord.latitude}`);
				console.log(`Longitude: ${coord.longitude}`);
				console.log(`More or less ${coord.accuracy} meters.`);
				if (coord.accuracy > 10000) {
					return;
				}
				var latlng = {
					lat:coord.latitude,
					lng:coord.longitude
				}
				map.setCenter(latlng);
				marker.setPosition(latlng);

				return coord;
			}


			var users = []
			var t=setInterval(function() {
				$.ajax({
					url: '/life/process/',
					type: 'POST',
					data: {
						type: 'GET_USERS',
						// name: $('#typed-username').val(),
					},
					success: function(data) {
						var parsed = JSON.parse(data)
						// console.log(data);
						var usertable = $('#user-table');
						for (var i = 0; i < parsed.length; i++) {
							var chunk = "";
							var name = parsed[i]['fields']['name']
							if (!users.includes(name)) {
								chunk += "<tr class='userlist' id='{}'><td>Name: </td><td>".format(name);
								chunk += name;
								chunk += "</td></tr>";
								users.push(name);
								usertable.append(chunk);
							}

						}

					},
					failure: function(data) {

					}
				});

			},1000);
			$(document).on('click', '.userlist', function(ev) {
				// console.log(ev.currentTarget.id);
				changeUsername(ev.currentTarget.id);
			});
			cookiename = getCookie('uname');
			if (cookiename) {
				changeUsername(getCookie('uname'));
			}
			function changeUsername(uname) {
				setCookie('uname', uname,'30');
				activeUser = uname;
				$('#selected-user').html(activeUser);

			}
			// setCookie(name,value,days);
			// getCookie(name)
			$('input[name=userid]:radio:checked').change(function() {
				alert("Allot Thai Gayo Bhai");

				if (this.value == 'jun') {
					alert("Allot Thai Gayo Bhai");
				}
				else if (this.value == 'transfer') {
					alert("Transfer Thai Gayo");
				}
			});
			$('#user-submit').click(function(ev){
				$.ajax({
					url: '/life/process/',
					type: 'POST',
					data: {
						type: 'CREATE_USER',
						name: $('#typed-username').val(),
					},
					success: function(data) {
						// location.reload();
					},
					failure: function(data) {

					}
				});
			});
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9njv68P5DEaTEdsG1P4jLwcPlzyZNO94&callback=initMap"
		async defer></script>
	</body>
</html>
