
{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Restaurants</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/life/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/life/css/main.css' %}" />

		<script src="{% static '/life/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/life/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
        <style>
            .rows {
                font-size: 40px;
                border: 5px solid black;
            }
        </style>
    </head>
    
	<body>
        <!-- Your layout here -->
        <table>
                {% for restaurant in restaurants%}
            <tr class="rows">
                <td>
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td><a href="/life/restaurant_reviews/?name={{restaurant.0.name}}">{{restaurant.0.name}}</a></td>
                        </tr>
                        <tr>
                            <td>Rating:</td>
                            <td>{{restaurant.1}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
	</body>
</html>